nav {
    background-color: #000000;
    padding: 10px;
}

.scrollable-list {
   overflow: scroll;
   height: 100px;
   border: 1px solid #000000;
   padding: 10px;
   width: 200px;
}  

h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;

}

ol {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 10px;
    padding-left: 20px;
    justify-content: flex-start;  
    list-style-type: none;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    justify-content: flex-start;     
    list-style-type: none;
}

ul {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 10px;
    padding-left: 20px;
    justify-content: flex-start;  
    list-style-type: none;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    justify-content: flex-start;     
    list-style-type: none;
}

li {
    color: #ffffff; 
    font-size: 16px; 
    background-color: #000000;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 5px;
}

h2 {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 20px;
}

i {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 20px;
    font-size: 24px;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 10px;
    color: #000000;
    padding: 5px; 
    font-size: 20px;
    position: justify;
    top: 5px;
    left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(141, 16, 16, 0.1);
    transition: transform 0.2s;
}

i:hover {
    transition: all 0.3s ease;
    width: 20px;
    height: 20px;
    padding-top: 6px;
    right: 6px;
    color:rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}


.Pagination {
    display: grid;
    list-style-type: none;
    padding: 20px;
    margin-left: 4px;
    gap: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    grid-template-columns: repeat(6, 1fr);
    box-sizing: border-box;
    justify-content: left;
    margin-top: 2px;
    color: #ffffff;
    background-color: antiquewhite;
}

.h2 {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 20px;
    color: #ffffff;
}

.img.google-logo {
    width: 5px;
    height: 5px;
    display: block;
    margin: 20px auto;
}